db/
incremental_db/
tutorials/
paltest/
hex/srec_cat.exe
laser500.done
laser500.flow.rpt
laser500.sta.rpt
laser500.sta.summary
laser500.asm.rpt
laser500.jdi
laser500.sof
laser500.fit.*
laser500.pin
laser500.map.*
laser500.qws
PLLJ_PLLSPE_INFO.txt
*.bak
laser500.rbf
greybox_tmp/
*.ddb

/neptuno/output_files/*
/neptuno/output_files/*
/neptuno/output_files/laser500_neptuno.asm.rpt
/neptuno/output_files/laser500_neptuno.done
/neptuno/output_files/laser500_neptuno.fit.rpt
/neptuno/output_files/laser500_neptuno.fit.smsg
/neptuno/output_files/laser500_neptuno.fit.summary
/neptuno/output_files/laser500_neptuno.flow.rpt
/neptuno/output_files/laser500_neptuno.jdi
/neptuno/output_files/laser500_neptuno.map.rpt
/neptuno/output_files/laser500_neptuno.map.smsg
/neptuno/output_files/laser500_neptuno.map.summary
/neptuno/output_files/laser500_neptuno.pin
/neptuno/output_files/laser500_neptuno.rbf
/neptuno/output_files/laser500_neptuno.sld
/neptuno/output_files/laser500_neptuno.sof
/neptuno/output_files/laser500_neptuno.sta.rpt
/neptuno/output_files/laser500_neptuno.sta.summary
/neptuno/output_files/laser500_neptuno.asm.rpt
/neptuno/output_files/laser500_neptuno.done
/neptuno/output_files/laser500_neptuno.fit.rpt
/neptuno/output_files/laser500_neptuno.fit.smsg
/neptuno/output_files/laser500_neptuno.fit.summary
/neptuno/output_files/laser500_neptuno.flow.rpt
/neptuno/output_files/laser500_neptuno.jdi
/neptuno/output_files/laser500_neptuno.map.rpt
/neptuno/output_files/laser500_neptuno.map.smsg
/neptuno/output_files/laser500_neptuno.map.summary
/neptuno/output_files/laser500_neptuno.pin
/neptuno/output_files/laser500_neptuno.rbf
/neptuno/output_files/laser500_neptuno.sld
/neptuno/output_files/laser500_neptuno.sof
/neptuno/output_files/laser500_neptuno.sta.rpt
/neptuno/output_files/laser500_neptuno.sta.summary
/neptuno/output_files/*
/neptuno/output_files/laser500_neptuno.asm.rpt
/neptuno/output_files/laser500_neptuno.asm.rpt
/neptuno/output_files/laser500_neptuno.done
